a = 1000

op = input("Introduzca una operación :")
op1 = op.lower()

while op1 != "salir":
    if op1 == "ingresar":
        num = int(input("¿Cuánto dinero desea ingresar? :"))
        while (num < 0):
            num = int(input("No puedes meter un valor negativo. Introduce otro número :"))
        a += num
        if (a>0):
            print(f"Usted ha ingresado {num}€ y ahora su saldo es de {a}€")
        else:
            print(f"Usted ha ingresado {num}€ y ahora su saldo es de {a}€. Se encuentra en números rojos y le debe {-a}€ al banco")
        op = input("¿Qué operación desea hacer? :")
        op1 = op.lower()
        if (op1 != "ingresar") and (op1 != "sacar") and (op1 != "mostrar") and (op1 != "salir"):
            op = input("Se ha equivocado de operación. Indique una operación válida :")
            op1 = op.lower()
    if op1 == "sacar":
        num = int(input("¿Cuánto dinero desea sacar? :"))
        while (num < 0):
            num = int(input("No puedes meter un valor negativo. Introduce otro número :"))
        a -= num
        if (a>0):
            print(f"Usted ha sacado {num}€ y ahora su saldo es de {a}€")
        else:
            print(f"Usted ha sacado {num}€ y ahora su saldo es de {a}€. Se encuentra en números rojos y le debe {-a}€ al banco")
        op = input("¿Qué operación desea hacer? :")
        op1 = op.lower()
        if (op1 != "ingresar") and (op1 != "sacar") and (op1 != "mostrar") and (op1 != "salir"):
            op = input("Se ha equivocado de operación. Indique una operación válida :")
            op1 = op.lower()
    if op1 == "mostrar":
        print(f"Usted tiene {a}€")
        op = input("¿Qué operación desea hacer? :")
        op1 = op.lower()
        if (op1 != "ingresar") and (op1 != "sacar") and (op1 != "mostrar") and (op1 != "salir"):
            op = input("Se ha equivocado de operación. Indique una operación válida :")
            op1 = op.lower()
    if (op1 != "ingresar") and (op1 != "sacar") and (op1 != "mostrar") and (op1 != "salir"):
        op = input("Se ha equivocado de operación. Indique una operación válida :")
        op1 = op.lower()

print("Gracias por su visita.")
